<div id="<%= dom_id variant %>">
  <p>
    <strong>Model:</strong>
    <%= variant.model %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= variant.details %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= variant.availability %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= variant.car.name %>
  </p>

</div>
